* {
    font-family: 'Segoe UI', 'Ubuntu', 'Helvetica Neue', 'Arial', 'sans-serif';
}
.form {
    /* text-align: ; */
    width: 70%;
    margin: 0 15%;
}
.form > p {
    font-size: 14px;
}
.form > .mandatory {
    font-size: 14px;
    color: #8f8c8c;
}
.main-collection {
    margin: 0;
    padding: 0;
}
 .firstRow, .secondRow, .thirdRow, .fourthRow {
    display: flex;
    margin: 1%;
}
input[type="file"] {
    height: 80%;
}
.countryError {
    border-color: red !important;
}
fieldset {
    border-radius: 5px;
    border: 1px solid #8F959E;
    padding: 0 0 10px 20px;
    margin: inherit;
    width: 60%;
}
legend {
    padding: 0;
    margin-bottom: .5rem;
    line-height: inherit;
}
input[type=radio]:focus, input[type=text]:focus, input[type=email]:focus, input[type=file]:focus, textarea:focus ,div:focus , button:focus {
    outline: .15em solid #141B38;
}
.form-group {
    margin-bottom: 1em;
    padding: 0 1rem 0 0;

}
.form-control {
    display: block;
    width: 60%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #242525;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#female, #male {
    margin: 0 10px 0 0 !important;
}
.tnc > .terms {
    font-size: 12px;
}
.tnc > .terms >input[type='checkbox'] {
    margin: 15px 10px 0 0;
}
.tnc > .terms > label {
    margin: 10px 0 0 0;
}
.tnc > .terms > label > span {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.tnc > .offers {
    display: flex;
    font-size: 12px;
}
.tnc .offers > input[type='checkbox'] {
    margin: 7px 10px 0 0;
}
.tnc > .offers > label {
    margin: 5px 0 0 0;
}
.fourthRow > datalist {
    display: inline-flex !important; 
}

.col-md-6{
    width: 70%;
    display: grid;
}
.slider_btn{
    margin: auto;
    width: 60%;
    display: inline-flex;
}
.wrapper{
     margin: auto;
    width: 50%;
    margin-right: 10%;
    border: 1px solid;
    align-items: center;
    text-align: center;
}
input, select, textarea {
    border: 1px solid #8F959E !important;
    background: #fff;
    color: #333;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    box-sizing: border-box;
}
.btn-group {
    display: flex;
    margin: 0 0 0 5%;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-submit {
    color: #fff;
    background-color: #b45b15;
    border-color: #ffff;
    margin: 0 3% 0 0;
    width: 30%;
    font-weight: bold;
}
.btn-submit:hover {
    color: #000;
    background-color: #ffff;
    border-color: #b45b15;
}
.btn-cancel {
    color: #000;
    background-color: #ffff;
    border-color: #b45b15;
    margin: 0 10% 0 0;
    width: 30%;
    font-weight: bold;
}